node_modules/
.cache/
.codeoss/
.npm/
.ssh/
.local/
.config/
.bash_history
.flutter/
.dart-tool/
.dartServer/
.docker/
.gemini/
dist/
ibizungu/
ibizungu_final/
ibizungu2/
send_zip/
ibizungu2_android_studio.zip
final_url.txt
lt_final.txt
lt_v2.txt
serveo_final.txt
serveo_output.txt
serveo_url.txt
*.zip
*.swp
